
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/*PAGINA INICIO Y ETIQUETAS COMUNES A TODAS LAS PAGINAS*/
#grid-container{   /*!!!!!ESTRUCTURA GRID!!!!*/
        display: grid;
        height: 100vh;
        grid-template-areas: 
        "header header header"
        "principal principal principal"
        "contenido contenido contenido"
        "mapa foto lateral"
        "footer footer footer";
        grid-template-rows: 90px 100px auto auto 90px;
        gap: 10px;
}

.header {
    grid-area: header;
    background-color: #ffeef8;
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-items: space-between;
    align-items: space-between;
    position: sticky;
    top: 0;  
}

.header_logo img {
    width: 180px;
    height: auto;
}

.header .nav_menuP ul {
     display: flex;
     justify-content: space-between;
     align-content: space-between;
     flex-wrap: wrap; 
    list-style: none;
}

.header .nav_menuP ul li{
    margin-left: 75px;
    margin-top: 60px;
    margin-bottom: 15px;
    padding-right: 40px;
}

.header .nav_menuP ul li a {
    color:#CB9E6C;
    text-decoration: none;
    cursor: pointer;
}

.header .nav_menuP ul li a:hover {
    height: 120px; width: 150px;
    padding: 10px;
    background-color: rgb(255, 254, 235);
}

.container_footer {
    grid-area: footer;
    background-color: rgb(255, 182, 233);
    text-align:center ;
    list-style: none;
}

.footer_mensaje p {
    color: black;
}
.footer_ig ul{
    list-style: none;
}

.footer_ig a{
    color: white;
    text-decoration: none;
    background-color:fuchsia;
    border-radius:20%;     
}


.principal{
    grid-area: principal;
    background-color: #FFCEEC;
}
    
.presentacion_titulo {
    color: #ff5ec1; 
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, #f8cbe5 , white);          
}

.principal .presentacion_texto{
    color:#AE7726;
    padding: 10px;
    width: 100%;
    height: 40px;
}

.galeria  {
   background-color: #ffeef8;
}

.galeria_productos {
    grid-area: contenido;
}
    
.galeria_productos img {
    width: 100%;
    height: auto;
}

#galeria .banner img{
    grid-area:galeria;
    width: 100%;
}

.container_ubicacion {
    grid-area: mapa;
    width: 100%;
    height: auto; 
}

.container_ubicacion h4 {
    color:darkred
}

.container_ubicacion .mapa {
    width: 390px;
    height:300px;
    /*style="border:0;" allowfullscreen="" loading="lazy"*/ /* asi estaba en enlace de YT, yo modifique las medidas*/
}

.mapa {
    width: 390px;
    height:300px;
    /*style="border:0;" allowfullscreen="" loading="lazy"*/ /* asi estaba en enlace de YT, yo modifique las medidas*/
}


/*PAGINA CONTACTO*/

.formu {
    width: 40%;
    height: auto;
    border:1px solid #ccc;
    margin:20px;
    padding:20px;
    color:violet    
}

.formu ul {
    list-style: none;
}

.formu label{
    font-size: 18px;
    padding: 14px;
    line-height: 2px;
    width: 400px;
    height: auto;
}

.formu input textarea{
    margin-bottom: 22px;
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;

}

input:focus {
    border:1px solid rgb(228, 91, 198)
}

.boton {
    margin-bottom: 0.7rem;
    background-color: rgb(250, 227, 231);
    border: none;
}

input[type="submit"]:hover {
    background-color: pink;
    cursor: pointer;   
}

input[type="reset"]:hover {
    background-color:pink ;
    cursor: pointer;
}
   
/*PAGINA FAQ*/

#textodeco {
    grid-area: contenido;
}


#textodeco h4 {
    font-size: 20px;
    color: rgb(255, 61, 158);
    font-style: oblique;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;    
}

#textodeco p {
    color: rgb(163, 162, 162);
    margin-left: 120px;
    margin-right: 120px;
}



/*PAGINA SOBRE NOSOTROS*/

.sobrenosotros {
    grid-area: contenido;

}
.sobrenosotros p{
    color:grey;
    font-style: italic;
    margin-left: 120px;
    margin-right: 120px;
}



/*ESTILO PARA PISAR BT*/
.color_bt {
    background-color: #ffeef8 !important;

}

.gradiente_bt {
    background-image: linear-gradient(to bottom, #ffeef8 , white);
}

/*FIN ESTILO PARA PISAR BT*/

/*---------------------------------------RESPONSIVE BASICO SIN BT------------------------------*/

@media (min-width: 320px) and (max-width:480px) {
#grid-container {
 display: flex;
 flex-direction: column;

}
}

@media (min-width: 481px) {
    #grid-container {
     display: flex;
     flex-direction: column;
    
    }

    }
    

