* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  /*PAGINA INICIO Y ETIQUETAS COMUNES A TODAS LAS PAGINAS
  SCSS EN NAV BAR Y FOOTER + PAGE SOBRE NOSOTROS + PAGE PREGUNTAS PRECUENTES*/
  #grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 90px 100px auto auto 90px;
    gap: 10px;
  }
  
  //estilos - map get - mixin -extend -vars
  $colorprincipal: #ffeef8;
  $heigth: 20px;


  .header {
    grid-area: header;
    background-color: $colorprincipal;
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-items: space-between;
    align-items: space-between;
    position: sticky;
    top: 0;
  
    &_logo {
      img {
        width: 180px;
        height: auto;
      }
    }
  }


  /*contenido page faq y sobre nosotros*/
  $estilosentexto: (
    color: grey,
    estilofuente: oblique,
    tamañofuente: 25px,
  );
  
  #textodeco {
    grid-area: contenido;
  
    h4 {
      font-size: map-get($estilosentexto, tamañofuente);
      color:map-get($estilosentexto, colort);
      font-style:map-get($estilosentexto, estilofuente);
      background-color: #ffeef8;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 30px;
      margin-bottom: 50px;
    }
  
    p {
      color: rgb(163, 162, 162);
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    a {
      color:rgb(111, 98, 104)
    }
  }

  /* Sobre nosotros*/

  .colecciones_principal_sn{
    background-color:#ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    
     h3 {
        color: #ff679c;
        font-size:xx-large;
        text-align:  center;
    }
   .subtitulo_sn {
        color: #746b6e;
        font-size:medium;
        text-align:  center;
    }
    
    @media (max-width:480px) {
        .colecciones_principal{
                max-width: 100%;
                display: flex;
                flex-direction: column;
            }
          }
        }

   .embed-container_sn {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

   .video_responsive{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
   }

   .sobrenosotros {
    grid-area: contenido;
    background-color: rgba(255, 0, 128, 0.1);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    border-radius: 1%;
    border-style: dashed;
    border-color: pink;
   }

   .tsn {
     padding-left: 50px;
     padding-right: 50px;
     margin-bottom: 30px;
    }

   @mixin titulo {
   height: $heigth;
   }
    .texto_pages {
      @extend .tsn; 
    }
    .slogan {
      @include titulo();
      font-style: oblique;
      color: rgb(255, 61, 158);
      padding-left: 50px;
      padding-right: 50px;
    } 

   .parrafo_final_margin {
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
   }
   
   .parrafo_primer_margin {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
   }

    /*ESTILO PARA PISAR BT*/
   .color_bt {
    background-color: $colorprincipal !important;
   }
  
   .gradiente_bt {
    background-image: linear-gradient(to bottom, $colorprincipal, white);
   }
  
   .footer_bottom {
    margin-top:100px; 
   }

   .nav-link { 
        &:hover {
    color: #f7b9ca !important;
    background-color: rgba(250, 223, 237, 0.3) !important;
    font-size: 17.5px;
   }
 }

